.main-header
  h3 data-bind="t.wordify_cms.employee_search.ui.configuration.title"
.main-content
  form data-formfor-employee-config="employeeSearchConfig" data-event-submit="update" style="width:98%;"
    fieldset
      legend data-bind="t.wordify_cms.employee_search.ui.form.legend"
      textarea rows="10" data-bind="employeeSearchConfig.crawler_urls_formatted"
      span.help-block data-bind="t.wordify_cms.employee_search.ui.form.hint"
    .form-actions
      button type="submit" class="btn btn-success"
        i class="icon-ok"
        span class="gapable-icon" data-bind="t.wordify_cms.actions.update"
