<div class="grid push-half--bottom">
  <div class="grid__item one-half">
    <a href="#" class="pagination__prev"><span class="visuallyhidden--palm">{{#I18n 'wordify_cms.apartments.show.overview'}}{{/I18n}}</span></a>
  </div>
  <div class="grid__item one-half text--right">
    <a href="#apartments/{{apartment._id}}/next"  class="pagination__next"><span class="visuallyhidden--palm">{{#I18n 'wordify_cms.apartments.show.next'}}{{/I18n}}</span></a>
  </div>
</div>
<h1>{{apartment.address_street}}</h1>
<div class="actions">
  <a href="/apartments/{{apartment._id}}/print" target="_blank" class="actions__action"><i class="icon--print"></i> {{#I18n 'wordify_cms.apartments.show.print'}}{{/I18n}}</a>
  <a href="mailto:?subject={{#I18n 'wordify_cms.apartments.show.mail_subject'}}{{/I18n}}&body={{location}}" class="actions__action"><i class="icon--send"></i> {{#I18n 'wordify_cms.apartments.show.send'}}{{/I18n}}</a>
  <a href="#" class="maplink actions__action"><i class="icon--search"></i> {{#I18n 'wordify_cms.apartments.show.map'}}{{/I18n}}</a>
</div>

<div class="block">
  <div id="expose-carousel" class="expose-viewer carousel slide">

    <div class="expose-viewer__stage">
      <div class="carousel-inner expose-viewer__main">
        {{#if pictures.length}}
          {{#each pictures}}
            <div class="item"><img src="{{url}}" alt=""></div>
          {{/each}}
        {{else}}
          <div class="item"><img src="/vendor/img/expose_no_pic.png" alt=""></div>
        {{/if}}
      </div>
      
      {{#if pictures.length}}
        <ul class="carousel-indicators expose-viewer__thumbs">
          {{#each pictures}}
            <li><a href="#expose-carousel" data-slide-to="{{@index}}">
              <img src="{{url}}" alt="">
            </a></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

    <div class="expose-viewer__actions">
      <a class="carousel-control left" href="#expose-carousel" data-slide="prev"></a>
      <a class="carousel-control right" href="#expose-carousel" data-slide="next"></a>

      <a href="#" class="zoom"><i class="icon icon--zoom-in"></i> <span class="visuallyhidden-palm">{{#I18n 'wordify_cms.apartments.show.zoom'}}{{/I18n}}</span></a>
    </div>
  </div>
</div>

<h2 class="w-sep">{{#I18n 'wordify_cms.apartments.show.details'}}{{/I18n}}</h2>

{{#with apartment}}
  <dl class="details">
    <!-- DEPRECATED
    <dt>{{#I18n 'wordify_cms.apartments.show.ident_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{ident}}</span></dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.available_at_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{available_at}}</span></dd>
    -->
    <dt>{{#I18n 'wordify_cms.apartments.show.district_html'}}{{/I18n}}</dt>
    <dd>{{district}}</dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.rooms_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{rooms}}</span></dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.space_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{space}} m<sup>2</sup></span></dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.floor_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{floor}}</span></dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.year_of_construction_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{year_of_construction}}</span></dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.rent_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{rent}}</span></dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.additional_costs_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{additional_costs}}</span></dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.cost_of_heating_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{cost_of_heating}}</span></dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.cost_of_water_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{cost_of_water}}</span></dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.total_rent_html'}}{{/I18n}}</dt>
    <dd><span class="special">{{total_rent}}</span></dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.admission_fee_html'}}{{/I18n}}</dt>
    <dd>{{admission_fee}}</dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.neighborhood_html'}}{{/I18n}}</dt>
    <dd>{{neighborhood}}</dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.characteristics_html'}}{{/I18n}}</dt>
    <dd>{{characteristics}}</dd>
    <dt>{{#I18n 'wordify_cms.apartments.show.disclaimer_html'}}{{/I18n}}</dt>
    <dd>{{#I18n 'wordify_cms.apartments.show.disclaimer_text_html'}}{{/I18n}}</dd>
  </dl>
{{/with}}
<section class="block">
  <h2 class="w-sep">{{#I18n 'wordify_cms.apartments.show.map'}}{{/I18n}}</h2>

  <div id="expose-map"></div>
  {{! <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.de/maps?oe=utf-8&amp;client=firefox-beta&amp;q=m%C3%A4rkische+allee+260+berlin&amp;ie=UTF8&amp;hq=&amp;hnear=M%C3%A4rkische+Allee+260,+12679+Berlin&amp;gl=de&amp;t=m&amp;ll=52.557412,13.554296&amp;spn=0.012524,0.027466&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe> }}
</section>
