<h3 class="box__heading">{{#I18n 'wordify_cms.apartments.inquiry.title'}}{{/I18n}}</h3>

<form class="narrow-form box__content">
  <p>
    {{#I18n 'wordify_cms.apartments.show.contact_html'}}{{/I18n}} <br>
    {{apartment.contact_name}} <br>
    {{#I18n 'wordify_cms.apartments.show.fon_html'}}{{/I18n}} <br>
    {{apartment.contact_fon}}
  </p>

  <div class="narrow-form__row">
    <label class="group-label two-sixths" for="name">{{#I18n 'wordify_cms.apartments.inquiry.name'}}{{/I18n}}</label>
    <span class="four-sixths portable-one-whole"><input type="text" name="inquiry[name]" id="name"></span>
  </div>
  <div class="narrow-form__row">
    <label class="group-label two-sixths" for="fon">{{#I18n 'wordify_cms.apartments.inquiry.fon'}}{{/I18n}}</label>
    <span class="four-sixths portable-one-whole"><input type="text" name="inquiry[fon]" id="fon"></span>
  </div>
  <div class="narrow-form__row">
    <label class="group-label two-sixths" for="email">{{#I18n 'wordify_cms.apartments.inquiry.email'}}{{/I18n}}</label>
    <span class="four-sixths portable-one-whole"><input type="text" name="inquiry[email]" id="email"></span>
  </div>

  <div class="narrow-form__row">
    <span class="one-whole">
      <label class="checkbox inline"><input type="checkbox" name="inquiry[appointment]" checked>{{#I18n 'wordify_cms.apartments.inquiry.appointment'}}{{/I18n}}</label>
    </span>
  </div>

  <div class="narrow-form__row">
    <span class="one-whole"><textarea name="inquiry[message]" id="message" rows="5" cols="10">{{#I18n 'wordify_cms.apartments.inquiry.message'}}{{/I18n}}</textarea></span>
  </div>

  <div id="inquiry-errors" class="narrow-form__row">
    <h2 class="section-h"></h2>
  </div>
  
  <div class="narrow-form__submit">
    <button type="submit" class="btn go palm-one-whole">{{#I18n 'wordify_cms.apartments.inquiry.send'}}{{/I18n}}</button>
  </div>
</form>
