<h2>{{#I18n 'wordify_cms.apartments.search.results' count=apartments.length}}{{/I18n}}</h2>

{{#if apartments.length}}
  <table class="table--striped">
    <thead>
      <tr>
        <th class="t5 text--center">{{#I18n 'wordify_cms.apartments.rooms'}}{{/I18n}}</th>
        <th class="t10 text--center">{{#I18n 'wordify_cms.apartments.rent'}}{{/I18n}}</th>
        <th class="t10 text--center">{{#I18n 'wordify_cms.apartments.shorts.space'}}{{/I18n}}</th>
        <th class="t65">{{#I18n 'wordify_cms.apartments.address'}}{{/I18n}}</th>
        <th class="t10 text--center">{{#I18n 'wordify_cms.apartments.search.expose'}}{{/I18n}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each apartments}}
        <tr>
          <td class="text--center"><a href="#apartments/{{_id}}">{{rooms}}</a></td>
          <td class="text--center"><a href="#apartments/{{_id}}">{{rent}}</a></td>
          <td class="text--center"><a href="#apartments/{{_id}}">{{space}}</a></td>
          <td><a href="#apartments/{{_id}}">{{address_one_line}}</a></td>
          <td class="text--center"><a href="#apartments/{{_id}}/expose-map" class="icon icon--search"><i>{{#I18n 'wordify_cms.apartments.search.map'}}{{/I18n}}</i></a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}