doctype html

/! Conditional comments in slim:
/! https://gist.github.com/helloluis/1183106

/[if IE 8]
  | <html class="no-js lt-ie9" lang="de">
| <!--[if gt IE 8]<!-->
html.no-js lang="de"
  | <!--<![endif]-->

  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    title = I18n.t 'wordify_cms.apartments.print.title', apartment: "#{@apartment.street} #{@apartment.street_nr}"
    meta content="" name="description"
    meta content="width=(device-width,)initial-scale=1.0" name="viewport"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic", :media => "all"
    = stylesheet_link_tag "/vendor/css/print.css", :media => "all"
    = stylesheet_link_tag "apartment_search", :media => "all"
    = javascript_include_tag "/vendor/js/vendor/modernizr.min.js"
  body
    img#topbar alt="" src="/vendor/img/print_top.png"
    /! Table layout for better compatibility with PDF-Generators and Print-Renderer
    table#content
      tr
        td.three-quarters  
        td.one-quarter
          img#logo alt="Marzahner Tor – Wohnungsgenossenschaft" src="/vendor/img/marzahner-tor--print.png"
      tr
        td.three-quarters
          h1 = I18n.t 'wordify_cms.apartments.print.expose'
          h2 = "#{@apartment.street} #{@apartment.street_nr} | #{@apartment.postcode} #{@apartment.city}"
          p == "#{I18n.t 'wordify_cms.apartments.show.ident_html'} #{@apartment.ident}"
          dl.details
            dt == I18n.t 'wordify_cms.apartments.show.district_html'
            dd == @apartment.district
            dt == I18n.t 'wordify_cms.apartments.show.rooms_html'
            dd
              span.special.print = @apartment.rooms
            dt == I18n.t 'wordify_cms.apartments.show.space_html'
            dd
              span.special.print = "#{@apartment.space} m²"
            dt == I18n.t 'wordify_cms.apartments.show.floor_html'
            dd
              span.special.print = @apartment.floor
            dt == I18n.t 'wordify_cms.apartments.show.year_of_construction_html'
            dd
              span.special.print = @apartment.year_of_construction
            dt == I18n.t 'wordify_cms.apartments.show.rent_html'
            / Must be euro in all languages
            dd
              span.special.print = "#{number_with_precision(@apartment.rent, precision: 2)} €"
            dt == I18n.t 'wordify_cms.apartments.show.additional_costs_html'
            dd
              span.special.print = "#{number_with_precision(@apartment.additional_costs, precision: 2)} €"

            dt == I18n.t 'wordify_cms.apartments.show.cost_of_heating_html'
            dd
              span.special.print = "#{number_with_precision(@apartment.cost_of_heating, precision: 2)} €"
            dt == I18n.t 'wordify_cms.apartments.show.cost_of_water_html'
            dd
              span.special.print = "#{number_with_precision(@apartment.cost_of_water, precision: 2)} €"

            dt == I18n.t 'wordify_cms.apartments.show.total_rent_html'
            dd
              span.special.print = "#{number_with_precision(@apartment.total_rent, precision: 2)} €"
            dt == I18n.t 'wordify_cms.apartments.show.admission_fee_html'
            dd == @apartment.admission_fee
          
          - unless @apartment.footprints.empty?
            h2.push--top = I18n.t('wordify_cms.apartments.print.footprints')
            .box.island.full-bleed.image-box.pbb--no.more-than-one
              - @apartment.footprints.each do |pic|
                = image_tag pic[:url], alt: ""

          dl.details
            dt == I18n.t('wordify_cms.apartments.show.neighborhood_html')
            dd == @apartment.neighborhood
            dt == I18n.t 'wordify_cms.apartments.show.characteristics_html'
            dd == @apartment.characteristics
          
          - unless @apartment.pictures_only.empty?
            h2.push--top = I18n.t('wordify_cms.apartments.print.pictures')
            .box.island.full-bleed.image-box.pbb--no.more-than-one
              - @apartment.pictures_only.each do |pic|
                = image_tag pic[:url], alt: ""
        
          p
            strong == I18n.t('wordify_cms.apartments.show.disclaimer_html')
            == " #{I18n.t('wordify_cms.apartments.show.disclaimer_text_html')}"

        td.one-quarter.sidebar
          p
            | Wohnungsgenossenschaft
            br
            | Marzahner Tor eG
          p
            = "#{@apartment.contact_street} #{@apartment.contact_street_nr}"
            br
            = "#{@apartment.contact_postcode} #{@apartment.contact_city}"
            br
            = @apartment.contact_homepage
          p
            == I18n.t 'wordify_cms.apartments.show.contact_html'
            br
            = @apartment.contact_name
            br
            = @apartment.contact_fon
    img#bottombar alt="" src="/vendor/img/print_bottom.png"