p
  = t('wordify_cms.contact_request.introduction', {:salutation => @params["salutation"],:name => "#{@params['first_name']} #{@params['last_name']}"})

div
  = t('wordify_cms.contact_request.wrote', {:name => "#{@params['first_name']} #{@params['last_name']}"})
  p
    strong
      = t('wordify_cms.contact_request.topic')
    br
    strong
      = sanitize(@params["topic"])
    br
    = @params["topic_text"]

div
  = t('wordify_cms.contact_request.contact_details')
  ul
    li 
      = t('wordify_cms.contact_request.street', {:street => @params['street']})
    li
      = t('wordify_cms.contact_request.zipcode', {:zipcode_toponym => @params["zipcode"]})
    li 
      = t('wordify_cms.contact_request.company', {:company => @params["company"]})
    li
      = t('wordify_cms.contact_request.phone', {:phone => @params["phone"]})
    li
      = t('wordify_cms.contact_request.email', {:email  => @params["sender_email"]})