section.block
  h2.section-h
    = HTMLEntities.new.decode(strip_tags(group.get_attribute("name")))
  ul.content-blocks.grid
    - contacts.each do |contact|
      = render '/wordify_cms/templates/contact', contact: contact

  - unless streets.empty?
    = I18n.t "wordify_cms.list_of_contacts.responsible_for"
    ul
      - streets.each do |street|
        li
          = HTMLEntities.new.decode(strip_tags(street.street))
    // Most simple solution to have equal space
    br