li.grid__item.one-half.portable-one-whole
  .content-blocks__item.content-blocks__item--border-top.media
    - if photo = contact.get_reference('photo')
      img.media__img.media__img--closer width="63" height="63" src=(photo.download_url) alt=(HTMLEntities.new.decode(strip_tags(contact.get_attribute("name"))))
    .media__body
      h3.beta
        == HTMLEntities.new.decode(strip_tags(contact.get_attribute("name")))
      p
        - if (phone = strip_tags(contact.get_attribute("phone"))).present?
          = "Tel.: #{raw(phone)}"
          br
        - if (mail = strip_tags(contact.get_attribute("email"))).present?
          a href="mailto:#{mail}" = mail