form class="push--bottom one-half portable-one-whole soft-half--right" action="" id="scope_selector"
  label for="adress-select"
    | Ihre Adresse: &nbsp;
  select id="adress-select"
    option value="" = I18n.t('wordify_cms.list_of_contacts.address_default')
    - streets.each do |street|
      option value="#{street.id}"
        = HTMLEntities.new.decode(strip_tags(street.get_attribute("street")))

.departments-list
  #placeholder_contact_people style="border-top: 0px;"
  - departments.each do |department|
    section class="block"
      h2 class="section-h"
        = HTMLEntities.new.decode(strip_tags(department["department"]))
      ul class="content-blocks grid"
        - department["contact_people"].each do |contact|
          = render '/wordify_cms/templates/contact', contact: contact


= javascript_include_tag "contact_list"