{{#if contactPeopleTeams}}
  <section class="block" id="contactPeopleTeams">
    <h2 class="section-h">Bereich Wohnungsverwaltung/Technik</h2>
    <ul class="content-blocks grid">
    {{#each contactPeopleTeams}}
      <li class="grid__item one-half portable-one-whole">
        <div class="content-blocks__item content-blocks__item--border-top media">
          {{#if this.photo}}
            <img class="media__img media__img--closer" width="63" height="63" src="{{this.photo.url}}" alt="">
          {{/if}}
          <div class="media__body">
            <h3 class="beta">{{{this.name}}}</h3>
            <p>
              Tel.: {{this.phone}}
              <br>
              <a href="mailto:{{this.email}}">{{this.email}}</a>
            </p>
          </div>
        </div>
      </li>
    {{/each}}
    </ul>
  </section>
{{/if}}
{{#if contactPeopleDepartments}}
  <section class="block" id="contactPeopleDepartments">
    <h2 class="section-h">Bereich Betriebskosten</h2>
    <ul class="content-blocks grid">
    {{#each contactPeopleDepartments}}
      <li class="grid__item one-half portable-one-whole">
      <div class="content-blocks__item content-blocks__item--border-top media">
        {{#if this.photo}}
          <img class="media__img media__img--closer" width="63" height="63" src="{{this.photo.url}}" alt="">
        {{/if}}
        <div class="media__body">
          <h3 class="beta">{{{this.name}}}</h3>
          <p>
            Tel.: {{this.phone}}
            <br>
            <a href="mailto:{{this.email}}">{{this.email}}</a>
          </p>
        </div>
      </div>
    </li>
    {{/each}}
    </ul>
  </section>
{{/if}}
{{#if facilityManagers}}
  <section class="block" id="facilityManagers">
    <h2 class="section-h">Hausmeister</h2>
    <ul class="content-blocks grid">
    {{#each facilityManagers}}
      <li class="grid__item one-half portable-one-whole">
      <div class="content-blocks__item content-blocks__item--border-top media">
        {{#if this.photo}}
          <img class="media__img media__img--closer" width="63" height="63" src="{{this.photo.url}}" alt="">
        {{/if}}
        <div class="media__body">
          <h3 class="beta">{{{this.name}}}</h3>
          <p>
            Tel.: {{this.phone}}
          </p>
        </div>
      </div>
    </li>
    {{/each}}
    </ul>
  </section>
{{/if}}