= form_tag contact_request_path, :class => "push--bottom", :id => "contact-mail-form" do
  = hidden_field_tag "location", location
  = hidden_field_tag "send_mail", send_mail
  div class="grid"
    div class="grid__item one-whole contact-errors"
      h2 class="section-h"
        | Ihre Anfrage konnte nicht gesendet werden.
      p
    div class="grid__item one-half portable-one-whole"
      label for="topic"
        | Worum handelt es sich:
        br
      select id="topic" name="topic"
        option value=""
          | Bitte wählen Sie ihr Anliegen...
          - topics.each do |topic|
              option value="#{sanitize(topic.description)}"
                #{sanitize(topic.description)}

  div class="grid push--top"
    div class="grid__item one-whole"
      label
        | Anrede:
      label for="mrs" class="radio inline push-double--right"
        = radio_button_tag "mrs", t("wordify_cms.contact_request.salutation.mrs")
        | Frau
      label for="mr" class="radio inline"
        = radio_button_tag "mr", t("wordify_cms.contact_request.salutation.mr")
        | Herr

    div class="grid__item one-half portable-one-whole"
      label for="first-name"
        | Vorname
      = text_field_tag "first-name"
    div class="grid__item one-half portable-one-whole"
      label for="last-name"
        | Name
      = text_field_tag "last-name"
    div class="grid__item one-half portable-one-whole"
      label for="company"
        | Firma
      = text_field_tag "company"
    div class="grid__item one-half portable-one-whole"
      label for="street"
        | Straße/Hausnummer
      = text_field_tag "street"
    div class="grid__item one-half portable-one-whole"
      label for="zipcode"
        | PLZ/Ort
      = text_field_tag "zipcode"
    div class="grid__item one-half portable-one-whole"
      label for="phone"
        | Telefon
      = text_field_tag "phone"
    div class="grid__item one-half portable-one-whole"
      label for="email"
        | E-Mail *
      = text_field_tag "email"

    div class="grid__item one-whole"
      label for="topic-text"
        | Ihr Anliegen
      = text_area_tag "topic-text", nil,:size => "20x8", :class=>"push--bottom"

    div class="grid__item one-whole submit-container"
      button type="submit" class="btn go palm-one-whole"
        | Senden
css:
  .contact-errors{
    display:none;
    color: white;
  }
  .contact-errors p{
    border: 1px solid red;
    padding: 5px;
    background-color:red;
  }
javascript:
  sendmail = j('#send_mail').val()
  if(sendmail === "true"){
    alertify.success(I18n.t('wordify_cms.contact_request.send'));
  }
  jQuery(document).ready(function($) {
    radios = $('#contact-mail-form input[type="radio"]');

    radios.on("click", function(){
      actualRadio = $(this);
      actualRadioId = actualRadio.attr("id");
      selectedRadios = radios.filter(":checked")
      var uncheckable = null;
      selectedRadios.each(function(){
          selectedRadio = $(this)
          selectedRadioId = selectedRadio.attr("id");
          if(actualRadioId !== selectedRadioId){
             uncheckable = selectedRadio
             return false;
          }
      });
      if(uncheckable){
        uncheckable.attr("checked", false);
      }
    });

    var handleError = function(el,errorMsg){
      $(".contact-errors p").html(errorMsg);
      $(".contact-errors").show();
      $(el).css("border", "1px solid red");
      $(el).css("color", "white");
      $(el).css("background-color", "red");
      alertify.error(I18n.t('wordify_cms.contact_request.failure'));
    }

    $("#contact-mail-form").submit(function(){
      var email     = $("#email").val();
      var topic     = $("#topic").val();
      var returnVal = true;
      if(!topic){
        returnVal = false;
        var errorMessage = I18n.t('wordify_cms.contact_request.missing.topic');
        handleError("#topic", errorMessage);
      }
      if(!email){
        returnVal = false;
        var errorMessage = I18n.t('wordify_cms.contact_request.missing.email');
        handleError("#email", errorMessage);
      }
      return returnVal;
    });
  });


