header.modal-header.modal-title
  a href="#" class="close" data-event-click="cancelEdit"
      | x
  h3 data-bind="translate.wordify_cms.list_of_contacts.form.title" style="color:white;"
  .information data-partial="shared/_validation_errors" data-context-subject="group"

.modal-body.bootstrap-wordify
  select data-bind="selectedGroup" data-event-change="onGroupSelected"
    option data-value="0" data-bind="translate.wordify_cms.list_of_contacts.form.blank_group"
    option data-foreach-group="groups" data-bind-value="group.id" data-bind="group | loc_virtualModelProperty 'name'"

  .multiple-selection
    .width40
      label for="available_contacts" data-bind="translate.wordify_cms.list_of_contacts.form.available_contacts"
      select#available_contatcs size="18" multiple='' data-bind="available_contacts.selected_ids"
        option data-foreach-contact="available_contacts.up_to_date" data-bind-value="contact.id" data-bind="contact | loc_virtualModelProperty 'name'"

    .width20.buttons-wrapper
      .buttons-inner
        div
          label data-bind="translate.wordify_cms.list_of_contacts.form.add_contact"
        div
          button.btn type="button" data-event-click="selected_contacts.add | withArguments available_contacts.selected"
            i.icon-arrow-right
        div
          button.btn type="button" data-event-click="selected_contacts.remove | withArguments selected_contacts.selected"
            i.icon-arrow-left
        div
          label data-bind="translate.wordify_cms.list_of_contacts.form.remove_contact"

    .width40
      label for="selected_contacts" data-bind="translate.wordify_cms.list_of_contacts.form.selected_contacts"
      select#selected_contacts size="18" multiple='' data-bind="selected_contacts.selected_ids"
        option data-foreach-contact="selected_contacts.up_to_date" data-bind-value="contact.id" data-bind="contact | loc_virtualModelProperty 'name'"

footer.modal-footer
  button.btn.btn-cancel type="button" data-bind="translate.wordify_cms.actions.cancel" data-event-click="cancelEdit"
  button.btn.btn-success.btn-gap type="button" data-bind="translate.wordify_cms.actions.save" data-event-click="save"