= stylesheet_link_tag "apartment_search"

#apartment-search
  .box.block
    form
      .islet.islet--sep.hard--bottom
        / nested grids for more/better flexibility
        .grid
          .grid__item.one-half.portable-one-whole
            .grid
              .grid__item.one-half
                label.beta for="rooms-from" = I18n.t('wordify_cms.apartments.rooms')
                input#rooms-from.one-third type="text" name="apartment[rooms][gte]" value=(apartment['rooms'] ['gte']) size="2" maxlength="2" –
                input#rooms-to.one-third.flush--bottom type="text" name="apartment[rooms][lte]" value=(apartment['rooms']['lte']) size="2" maxlength="2"
              .grid__item.one-half
                label.beta for="rent-from" = I18n.t('wordify_cms.apartments.rent')
                input#rent-from.one-third type="text" name="apartment[rent][gte]" value=(apartment['rent']['  gte']) size="4" maxlength="4" –
                input#rent-to.one-third.flush--bottom type="text" name="apartment[rent][lte]" value=(apartment['rent']['lte']) size="4" maxlength="4"
  
          .grid__item.one-half.portable-one-whole
            .grid
              .grid__item.one-half
                label.beta for="space-from" = I18n.t('wordify_cms.apartments.space')
                input#space-from.one-third type="text" name="apartment[space][gte]" value=(apartment['space'] ['gte']) size="4" maxlength="4" –
                input#space-to.one-third.flush--bottom type="text" name="apartment[space][lte]" value=(apartment['space']['lte']) size="4" maxlength="4"
              .grid__item.one-half
                label.beta for="floor" = I18n.t('wordify_cms.apartments.floor')
                input#floor.one-third type="text" name="apartment[floor][eq]" value=(apartment['floor']['eq']) size="2" maxlength="2"
  
      .submit-container.islet
        button.btn.go.palm-one-whole type="submit" = I18n.t('wordify_cms.apartments.search.buttons.search')
  
  #apsearch-overview.block.push-double--ends