form.narrow-form.box__content action=(action) method="POST"
  
  .narrow-form__row
    label.group-label.two-sixths = I18n.t('wordify_cms.apartments.rooms')
    label.input-label.one-sixth for="rooms-from" = I18n.t('wordify_cms.apartments.search.from')
    span.one-sixth
      input#rooms-from type="text" name="apartment[rooms][gte]" size="2" maxlength="2"
    label.input-label.one-sixth for="rooms-to" = I18n.t('wordify_cms.apartments.search.to')
    span.one-sixth
      input#rooms-to type="text" name="apartment[rooms][lte]" size="2" maxlength="2"
  
  .narrow-form__row
    label.group-label.two-sixths = I18n.t('wordify_cms.apartments.rent')
    label.input-label.one-sixth for="rent-from" = I18n.t('wordify_cms.apartments.search.from')
    span.one-sixth
      input#rent-from type="text" name="apartment[rent][gte]" size="4" maxlength="4"
    label.input-label.one-sixth for="rent-to" = I18n.t('wordify_cms.apartments.search.to')
    span.one-sixth
      input#rent-to type="text" name="apartment[rent][lte]" size="4" maxlength="4"
  
  .narrow-form__row
    label.group-label.two-sixths = I18n.t('wordify_cms.apartments.space')
    label.input-label.one-sixth for="space-from" = I18n.t('wordify_cms.apartments.search.from')
    span.one-sixth
      input#space-from type="text" name="apartment[space][gte]" size="4" maxlength="4"
    label.input-label.one-sixth for="space-to" = I18n.t('wordify_cms.apartments.search.to')
    span.one-sixth
      input#space-to type="text" name="apartment[space][lte]" size="4" maxlength="4"

  .narrow-form__submit
    button.btn.go.palm-one-whole type="submit" = I18n.t('wordify_cms.apartments.search.buttons.search')