- if root.has_nodes?
  ul class="#{css[:ul_class]}"
    - root.nodes.each do |node|
      = render partial: '/wordify_cms/templates/spots_navigation_child', \
               locals:  { node: node, page_id: page_id, css: css, hot_spot_id: hot_spot_id}