- if node.page_hook_id.eql?(page_id)
    li class="#{css[:item_class]} #{css[:item_active_class]}" data-root-node="#{node.root.id}" data-node-parent="#{node.parent.id}" data-list-node="#{node.id}" data-hotspot-li-nav-id="#{hot_spot_id}"
      = raw(node.href('hotspot'))
      - if node.has_children?
          ul class="#{css[:ul_class]}" style="display:none;"
            - node.children.each do |child|
              = render partial: '/wordify_cms/templates/spots_navigation_child', \
                        locals:  { node: child, page_id: page_id, css: css }
- else
    li class="#{css[:item_class]}" data-root-node="#{node.root.id}" data-node-parent="#{node.parent.id}" data-list-node="#{node.id}" data-hotspot-li-nav-id="#{hot_spot_id}"
      = raw(node.href('hotspot'))
      - if node.has_children?
          ul class="#{css[:ul_class]}" style="display:none;"
            - node.children.each do |child|
                = render partial: '/wordify_cms/templates/spots_navigation_child', \
                        locals:  { node: child, page_id: page_id, css: css }