- unless hot_spots.empty?
  ul class="image-nav block"
    - hot_spots.each do |hot_spot|
      li class="image-nav__item" data-hotspot-nav-id="#{hot_spot['nav_id']}"
        a href="#{hot_spot['href']}"
          img src="#{hot_spot['image']['url']}" alt="" class="image-nav__img"
          span class="image-nav__text"
            strong class="beta image-nav__link"
              = raw(strip_tags(hot_spot["title"]))
            = raw(strip_tags(hot_spot["description"]))