- unless magazines.empty?
  ul class="#{css}"
    - magazines.each do |issue|
      li class="download-block-list__item one-half portable-one-whole" 
        div class="download-block-list__inner" 
          img src="#{issue["image"]["thumbnail"]}" alt="" class="download-block-list__img"
          a href="#{issue["pdf_link"]["url"]}" class="download-block-list__link go"
            = raw(strip_tags(issue["title"]))
            i class="icon--pdf"
