Sehr geehrte Damen und Herren,

vielen Dank für Ihre Nachricht. Wir werden uns schnellstmöglich mit Ihnen in Verbindung setzen und Ihre Anfrage gerne beantworten.
Bitte antworten Sie nicht auf diese E-Mail, da dies eine automatisch erstellte Eingangsbestätigung Ihrer Anfrage ist. 


Ihre Anfrage an uns lautet wie folgt:

Name:               <%= @inquiry.name %>
Telefon:            <%= @inquiry.fon %>
E-Mail:             <%= @inquiry.email %>
Besichtigungstermin
erwünscht:          <%= @inquiry.appointment ? 'Ja' : 'Nein' %>
Nachricht:          <%= @inquiry.message %>

Nochmals vielen Dank für Ihre Kontaktaufnahme, wir melden uns bei Ihnen! 
Beste Grüße, Ihr Team von Marzahner Tor!


Wohnungsgenossenschaft 
Marzahner Tor eG

Märkische Allee 210 A

12679 Berlin

Tel.: 030 549942-0

Fax: 030 5411024

E-Mail: info@marzahner-tor.de

Internet: www.marzahner-tor.de

Vorstand: Uwe Heß, Uwe Wachsmann
Aufsichtsratsvorsitzender: Thomas Scholz

Genossenschaftsregister: AG Charlottenburg, GnR Nr. 456 B
Bitte nutzen Sie die E-Mail-Verbindung mit uns ausschließlich zum Informationsaustausch. Wir können auf diesem Wege keine rechtsgeschäftlichen Erklärungen entgegennehmen. Der Inhalt dieser Nachricht ist vertraulich und nur für den angegebenen Empfänger bestimmt. Jede Form der Kenntnisnahme oder Weitergabe durch Dritte ist unzulässig. Sollte diese Nachricht nicht für Sie bestimmt sein, so bitten wir Sie, sich mit uns per E-Mail oder telefonisch in Verbindung zu setzen.