Name:               <%= @inquiry.name %>
Telefon:            <%= @inquiry.fon %>
E-Mail:             <%= @inquiry.email %>

Besichtigungstermin
erwünscht:          <%= @inquiry.appointment ? 'Ja' : 'Nein' %>

Nachricht:          <%= @inquiry.message %>